.gradle
gradle
out
.idea
*.iml
gradlew.bat
gradlew
gradle-wrapper.properties
/build/
gradle-wrapper.jar
.gradletasknamecache
.idea
*.iml
out
gen
*.trace.db
logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
config.properties